					<div class="menu_segment">
						<h4 class="open" id="menu_h4_account">Account</h4>
						<div id="menu_h4_account_div" class="gradientborder menu_h4_account open">
							<ul>								
								{% if request.user.is_authenticated %}
								<li><span class="bold">Welcome, {{ request.user }}!</span></li>
								<li><a href="{% url dashboard_home %}">Dashboard</a></li>
								<li><a href="{% url acct_email %}">Edit Account Info</a></li>
								<li><a href="{% url acct_logout %}">Logout</a></li>
								{% else %}
								<li><a href="{% url acct_login %}">Login</a></li>
								{% endif %}
							</ul>
						</div>
					</div>