{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load thumbnail %}

{% block head_title %}{{ purpose }}{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}
    {% endblock %}
{% endblock %}


{% block body %}
				<div class="feature-sub templates">
    	            <p style="margin:10px;"><big>{{ purpose }}</big> ({{ templates.count }} {% if filtered %}matching {% endif %}template{{ templates.count|pluralize }})</p>
				    {% include "_top_pager.html" %}
					<div>
					{% for template in pager.object_list %}
						<a href="{{ template.get_absolute_url }}">
						{% thumbnail template.preview "109x141" as im %}
						<img src="{{ im.url }}" style="margin:{{ im|margin:"109x141" }}" alt="{{ template }}" title="<h3>{{ template }}</h3>{{ template.description|linebreaksbr }}" />
						{% endthumbnail %}
						</a>
						{% if forloop.revcounter > 1 %}{% cycle '' '' '' '' '</div><div>' %}{% endif %}
				    {% endfor %}
					</div>
				    {% include "_bottom_pager.html" %}
				</div>
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}
    {% endblock %}
{% endblock %}
