									<li><a href="{% url selfpublish.views.sales_home publication.id %}">Sales</a></li>
									<li><a href="{% url selfpublish.views.lead_list publication.id %}">Leads</a></li>
									<li><a href="{% url selfpublish.views.lead_add publication.id %}">New Lead</a></li>
									<li><a href="{% url selfpublish.views.lead_import publication.id %}">Import Leads</a></li>
									<li><a href="{% url selfpublish.views.sponsor_welcome publication.id %}">Sponsor Site</a></li>
									<li><a href="{% url dashboard_home %}">Publication Dashboard</a></li>
